.navbar{ data: { controller: 'navbar' } }
  .navbar__logo
    = link_to root_path do
      = image_tag('ramenlogo.png')

  - if current_page?(root_path) || current_page?(ramen_reviews_path)
    = render 'shared/advanced_search'
    .view-switcher
  = form_with url: ramen_reviews_path, method: :get, local: false, class: 'view-toggle-form' do |form|
    -# = form.hidden_field :q, value: params[:q]&.to_unsafe_h&.to_query

    .toggle-switch
      = form.radio_button :view, 'card',
                          checked: @view_type == 'card',
                          id: 'view_card',
                          onchange: 'this.form.requestSubmit()'
      = form.radio_button :view, 'grid',
                          checked: @view_type == 'grid',
                          id: 'view_grid',
                          onchange: 'this.form.requestSubmit()'

      = form.label :view_card, class: 'toggle-option' do
        %box-icon{ name: :card, size: '20px' }
        -# %span Card

      = form.label :view_grid, class: 'toggle-option' do
        %box-icon{ name: :grid, type: :solid, size: '20px'}
        -# %span Grid

      .toggle-slider
  - if current_page?(map_restaurants_url)
    .navbar__search-container
      = search_form_for @q, url: map_restaurants_url,
                      data: { map_target: "form" } do |f|
        = f.search_field :name_cont, placeholder: "Search restaurants...",
                        data: { map_target: 'field', action: 'input->map#search:prevent' },
                        class: 'navbar__search-input'
  .navbar__menu-container{ data: { action: 'click->navbar#toggleDropdown click@window->navbar#closeDropdown' } }
    %box-icon{ name: 'menu', size: '24px' }
    .navbar__dropdown{ data: { navbar_target: 'navlinks' } }
      .navbar__nav-link
        = link_to restaurants_path, class: 'd-flex align-items-center' do
          %box-icon{ name: 'store-alt', size: '20px' }
          %p.navbar__nav-link-text Restaurants
      .navbar__nav-link
        = link_to map_restaurants_url, class: 'd-flex align-items-center' do
          %box-icon{ name: 'map', type: 'solid' }
          %p.navbar__nav-link-text Ramen Map
      .navbar__nav-link
        = link_to hall_of_fame_path, class: 'd-flex align-items-center' do
          %box-icon{ name: 'star', type: 'solid', color: '#e74d30', size: '20px' }
          %p.navbar__nav-link-text Hall of Fame
      .navbar__nav-link
        = link_to new_ramen_review_path, class: 'd-flex align-items-center' do
          %box-icon{ name: 'detail', size: '20px' }
          %p.navbar__nav-link-text New Ramen Review
