.navbar__container.w-100.d-flex.justify-content-between.align-items-middle{ data: { controller: 'navbar' } }
  .navbar__logo
    = link_to root_path do
      = image_tag('ramenlogo.png')
  - if current_page?(root_path)
    .navbar__search{ data: { controller: 'search' } }
      = search_form_for @q, url: root_path, method: :get, data: { turbo_frame: 'search' } do |f|
        = f.search_field :soup_or_restaurant_name_or_restaurant_jpn_name_or_restaurant_station_or_restaurant_city_or_restaurant_prefecture_cont, data: { search_target: 'search-form' }, placeholder: 'Search for soup, restaurant, city, prefecture, or staton', oninput: 'this.form.requestSubmit()'
      -# %box-icon.navbar__clear-search{ name: 'x', data: { search_target: 'clear-search-button', action: 'click->search#clearSearch' } }

  .navbar__navigation-container{ data: { action: 'click->navbar#toggleDropdown click@window->navbar#closeDropdown' } }
    %box-icon{ name: 'menu', size: '48px' }
    .navbar__nav-links.is-hidden{ data: { navbar_target: 'navlinks' } }
      .navbar__nav-link
        = link_to restaurants_path, class: 'd-flex align-items-center' do
          %box-icon{ name: 'store-alt' }
          %p.navbar__nav-link-text Restaurants
      .navbar__nav-link
        = link_to map_path, class: 'd-flex align-items-center' do
          %box-icon{ name: 'map', type: 'solid' }
          %p.navbar__nav-link-text Ramen Map
      .navbar__nav-link
        = link_to hall_of_fame_path, class: 'd-flex align-items-center' do
          %box-icon{ name: 'star', type: 'solid', color: '#e74d30' }
          %p.navbar__nav-link-text Hall of Fame
