.container.mt-4{ data: { controller: 'ramen-reviews--form'}}
  .row.mb-4
    %h5 Select Restaurant
    = search_form_for @q, url: @ramen_review.persisted? ? edit_ramen_review_url : new_ramen_review_url, method: :get, data: { turbo_frame: 'restaurant-search-results', 'ramen-reviews--form-target': 'searchForm' } do |sff|
      = sff.search_field :name_or_jpn_name_or_station_or_city_or_prefecture_cont,
        placeholder: 'Search for restaurant by name or location',
        class: 'form-control',
        oninput: 'this.form.requestSubmit()'
      = render 'restaurant_search_results', restaurants: @restaurants
    .mt-2{ data: { 'ramen-reviews--form-target': 'selectedRestaurantContainer' } }
      - selected_restaurant = @selected_restaurant || @ramen_review.restaurant
      - if selected_restaurant
        = render 'restaurant_search_result', restaurant: selected_restaurant
    = link_to 'Add Restaurant', new_restaurant_path
  = simple_form_for @ramen_review, data: { turbo: false } do |f|
    = f.hidden_field :restaurant_id, value: @selected_restaurant&.id, data: { 'ramen-reviews--form-target': 'restaurantId' }

    %label.form-label Upload images
    .image-upload-area.mb-4{ data: { controller: 'upload sortable', sortable_target: 'container', upload_target: 'container' } }
      .upload-button.mb-2
        %label.btn.btn-outline-primary
          Drag and drop files here or click to upload
          = f.file_field :images, multiple: true, direct_upload: true, class: 'd-none', data: { upload_target: 'input', action: 'change->upload#handleFiles' }

      .preview-container{ data: { sortable_options: { animation: 150 }.to_json, action: 'sortablejs:end->sortable#updateOrder' } }
        - if @ramen_review.persisted? && @ramen_review.review_images.any?
          - @ramen_review.review_images.order(:position).each do |review_image|
            .preview.card.mb-2{ data: { upload_target: 'preview', sortable_target: 'item' } }
              - if review_image.image.attached?
                = image_tag review_image.image
              .card-body.p-2
                %button.btn.btn-sm.btn-danger.position-absolute.top-0.end-0.m-1{ type: 'button', data: { action: 'click->upload#removeImage' } } ×
                = f.hidden_field "review_images_attributes[][id]", value: review_image.id
                = f.hidden_field "review_images_attributes[][position]", value: review_image.position, data: { sortable_target: 'position' }

      %template{ data: { upload_target: 'template' } }
        .preview.card.mb-2{ data: { upload_target: 'preview', sortable_target: 'item' } }
          %img.card-img-top
          .card-body.p-2
            .progress.mb-2
              .progress-bar{ style: 'width: 0%' }
            %button.btn.btn-sm.btn-danger.position-absolute.top-0.end-0.m-1{ type: 'button', data: { action: 'click->upload#removeImage' } } ×

    = f.rich_text_area :content
    .mt-2
      = f.input :soup, as: :select, collection: RamenReview::SOUP_TYPES, input_html: { class: 'form-select' }
    .mt-2
      = f.input :score, as: :select, collection: RamenReview::POSSIBLE_SCORES, selected: 3.0, include_blank: false, input_html: { class: 'form-select' }
    .ramen-reviews__button-container
      = f.submit submit_button_text, class: 'ramen-button'
