.container.mt-4{ data: { controller: 'ramen-reviews--form'}}
  .row.mb-4
    %h5 Select Restaurant
    = search_form_for @q, url: @ramen_review.persisted? ? edit_ramen_review_url : new_ramen_review_url, method: :get, data: { turbo_frame: 'restaurant-search-results', 'ramen-reviews--form-target': 'searchForm' } do |sff|
      = sff.search_field :name_or_jpn_name_or_station_or_city_or_prefecture_cont,
        placeholder: 'Search for restaurant by name or location',
        class: 'form-control',
        oninput: 'this.form.requestSubmit()'
      = render 'restaurant_search_results', restaurants: @restaurants
    .mt-2{ data: { 'ramen-reviews--form-target': 'selectedRestaurantContainer' } }
      - selected_restaurant = @selected_restaurant || @ramen_review.restaurant
      = render 'restaurant_search_result', selected_restaurant: selected_restaurant
    = link_to 'Add Restaurant', new_restaurant_path, id: :new_restaurant, data: { turbo_stream: true }
  = simple_form_for @ramen_review, data: { turbo: false } do |f|
    = turbo_frame_tag :selected_restaurant_id_field do
      = f.hidden_field :restaurant_id, value: @ramen_review&.restaurant_id ||@selected_restaurant&.id, data: { 'ramen-reviews--form-target': 'restaurantId' }

    %label.form-label Upload images
    .image-upload-area.mb-4{ data: { controller: 'upload', sortable_target: 'container', upload_target: 'container' } }
      .upload-button.mb-2
        %label.btn.btn-outline-primary
          Drag and drop files here or click to upload
          = file_field_tag :images, multiple: true, direct_upload: true, class: 'is-hidden', data: { upload_target: 'input', action: 'change->upload#handleFiles' }

      .preview-container{ data: { controller: 'sortable', sortable_target: 'container' } }
        - if @ramen_review.persisted? && @ramen_review.review_images.any?
          = f.fields_for :review_images, @ramen_review.review_images.order(:position) do |ff, index|
            .preview.card.mb-2{ data: { upload_target: 'preview', sortable_target: 'item', image_index: ff.index } }
              - if ff.object.image.attached?
                = image_tag ff.object.image
              .card-body.p-2
                %button.btn.btn-sm.btn-danger.position-absolute.top-0.end-0.m-1{ type: 'button', data: { action: 'click->upload#removeImage' } } ×
                = ff.hidden_field :id
                = ff.hidden_field :position, value: index, data: { sortable_target: 'position' }
                = ff.hidden_field :_destroy, value: "0", data: { upload_target: 'destroyField' }
      = render 'review_images/preview_card'

    = f.rich_text_area :content
    .mt-2
      = f.input :soup, as: :select, input_html: { class: 'form-select' }
    .mt-2
      = f.input :score, as: :select, collection: RamenReview::POSSIBLE_SCORES, selected: 3.0, include_blank: false, input_html: { class: 'form-select' }
    .ramen-reviews__button-container
      = f.submit submit_button_text, class: 'ramen-button'
