.container.mt-4
  = simple_form_for @ramen_review, data: { turbo: false } do |f|
    = f.label 'Upload images'
    .dropzone.dropzone-default.dz-clickable{ data: {
      controller: 'dropzone',
      'dropzone-max-file-size': 10,
      'dropzone-max-files': 10 } }
      = f.fields_for :review_images do |review_image_form|
        = review_image_form.file_field :media, multiple: true
    = f.rich_text_area :content
    .form-select
      = f.input :soup, as: :select, collection: RamenReview::SOUP_TYPES
    .form-select
      = f.input :score, as: :select, collection: RamenReview::POSSIBLE_SCORES, selected: 3.0, include_blank: false
    = f.submit
