.modern-info-window
  .info-window-header
    .info-window-swiper.swiper{ data: { controller: 'swiper', swiper_target: 'swiper' } }
      - if review_images.present?
        .swiper-wrapper
          - review_images.each do |review_image|
            .swiper-slide.info-window-slide
              = image_tag(review_image.image.variant(resize_to_fill: [280, 280]), alt: "#{restaurant.name} review photo")
        .swiper-pagination{ data: { swiper_target: 'pagination' } }
      - else
        .info-window-slide
          no image
          -# = image_tag('ramen-placeholder.jpg',
          -#            alt: restaurant.name,
          -#            class: 'placeholder-image')
    .info-window-gradient

  .info-window-content
    %div.restaurant-name
      = restaurant.name
    %div.restaurant-jpn-name
      = restaurant.jpn_name
    .rating-section
      .rating-score{ style: "color:#{star_color(restaurant.average_score)};"}= format('%.2f', restaurant.average_score)
      .rating-stars
        - review_card_score_stars(restaurant.average_score).each do |star|
          %box-icon{ name: star[:name], type: star[:type], color: star[:color], size: '16px' }
      .info-window-reviews
        = link_to restaurant_path(restaurant.id), class: 'restaurant-card__reviews-link' do
          %box-icon{ name: 'message-rounded-dots', type: 'solid', color: '#888888' }
          %span= restaurant.ramen_reviews.count
    .info-row
      %div.info-label
        %box-icon{ name: 'train', color: '#888', size: '20px' }
      %div.info-value
        = restaurant.station
    .info-row
      %box-icon{ name: 'calendar-x', color: '#888', size: '20px' }
      %span.restaurant-card__days-closed-text= restaurant.days_closed.join(', ')
